/*
 * Styles for the guestbook
*/

div#gb_navigation {
    border-top: none;
    margin-bottom: 5px;
    
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

div#guestbook {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

div#guestbook > div {
    border: 2px dashed #bfc3f0;
    padding: 0.5rem;
}