/*
 * Styles for the home page of the website
*/

div#home {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

div#changelog {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

div#changelog > div {
    border: 2px dashed #bfc3f0;
    padding: 0.5rem;
}

